CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeOutput.log
CTestTestfile.cmake
Makefile
cmake-build-debug/
cmake-build-release/
cmake-build-debug-*
cmake-build-release-*
*.o
*.so
*.a
*.d
*.exe
*.out
*.app
*.dSYM
*.pdb
*.ilk
*.idb
*.lib
*.dll
*.exp
bin/
